/*  #ff3368; #ecfdff; */

/* 

=> Three ways to include CSS into html document.
    => Inline CSS
    => Internal CSS
    => External CSS

=> Selectors
    => Universal Selector *
    => element / tag selector (h1, p)
    => id selector (#)
    => class selector (.)
    => Grouping selector
    => Nested selector
    => pseudo selector (:, ::)

*/

/* Specificity */

/* Id > Class > element */

/* !important */
p {
  color: rgb(150, 87, 10);
}
p {
    font-family: cursive;
  font-size: large;
  color: rgb(69, 27, 147);
  background-color: rgb(173, 156, 160);
}

#nav-title {
  background-color: black;
  color: white;
}
/* We have to give the id int he particular 
item or tag which we have to change  */

.container {
  background-color: #819a9c;
  color: #704cdc;
}
#first-letter::first-letter {
  font-size: xx-large;
  color: rgba(255, 0, 0, 0.9);
  font-weight: bolder;
}

a:hover {
  color: rgb(255, 50, 50);
  font-size: x-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

#one-div {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(157, 134, 128, 0.7),
      rgba(182, 159, 153, 0.7)
    ),
    url("pizza.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 2rem;
}
