#MyTitle {
    color: #0000FF;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    border: black solid 2px;    
}

body {
    background: url(../Intermidate/assets/Image1.jpg);
    background-size: cover;
}