/** ------------------------------------- -->
/** CSS COMBINATORS
/** ---------------------------------------- --> */

/** CSS combinators are used to define relationships between different elements in your HTML document. They allow you to target elements based on their position and hierarchy within the document structure.  */

/*? Descendant Selector (Space): Selects an element that is a descendant of another element. */

/*? Child Selector (>): Selects an element that is a direct child of another element. */

/*? Adjacent Sibling Selector (+): Selects an element that is immediately preceded by another element. */

/*? General Sibling Selector (~): Selects all elements that are siblings of another element and share the same parent. */

/*? Universal Selector (*): Selects all elements. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

body {
  color: rgb(183, 235, 13);
  height: 100vh;
}

section div {
  background-color: rgb(86, 80, 91);
  padding: 50px;
  margin-top: 50px;
}

div ~ p{
  background-color: rgb(74, 96, 89);
  padding: 25px;
  margin-top: 25px;
}

/** --------------------------------- */
